.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card:hover .card__delete-btn {
  visibility: visible;
}

.card__delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url("../images/delete-normal.png");
  border: none;
  cursor: pointer;
  visibility: hidden;
}

.card__delete-btn:hover {
  background-image: url("../images/delete-hover.png");
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0 0;
}

.card__title {
  color: #212121;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  max-width: 353px;
}

.card__like-btn {
  background-image: url("../images/like.svg");
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-btn.liked {
  background-image: url(../images/liked.svg);
  opacity: 1;
}

.card__like-btn.liked:hover {
  opacity: 0.5;
}

.card__like-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

@media screen and (max-width: 885px) {
  .card {
    max-width: 288px;
  }
  .card__image {
    max-width: 288px;
    max-height: 288px;
    aspect-ratio: 1;
  }
  .card__content {
    max-width: 288px;
    /* margin-bottom: 20px; */
  }
  .card__title {
    font-size: 16px;
    line-height: 1;
  }
}
