.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 0 16px;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background: #fff;
  max-width: 730px;
  width: 100%;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__close-btn {
  margin: 0 0 32px;
  top: 32px;
  right: 40px;
  width: 40px;
  height: 40px;
  opacity: 0.4;
  font-size: 40px;
  line-height: 1;
  padding: 0;
  background-color: transparent;
  background-image: url("../images/Close-Icon.svg");
  border: none;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #212121;
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
  cursor: pointer;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  border-radius: 8px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #fcf5e5;
  background-color: #212121;
}

.modal__submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__image-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.modal__container-image {
  background: none;
  width: initial;
  margin: 0;
  padding: 0;
}

.modal__image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
}

.modal__caption {
  background-color: rgba(33, 33, 33, 1);
  color: rgba(255, 255, 255, 1);
  padding: 4px 8px;
  border-radius: 8px;
  display: inline-block;
  margin: 8px 0 0;
}

.image-modal {
  width: auto;
  height: auto;
}

.modal__close-btn-image {
  position: absolute;
  top: 10px;
  right: -10px;
  cursor: pointer;
  opacity: 1;
  background-image: url("../images/Close-icon-white.svg");
}

.modal__close-btn-image:hover {
  opacity: 0.4;
}

@media screen and (max-width: 620px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__header {
    margin: 0 0 24px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__close-btn-image {
    top: -15px;
    right: 50px;
  }
}
