.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  max-width: 1280px;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  opacity: 70%;
}

.profile__edit-btn {
  margin-top: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  border: none;
  background-color: #fcf5e5;
  opacity: 70%;
  padding: 0;
}

.profile__edit-btn-pencil {
  margin-right: 8px;
}

.profile__add-btn {
  margin-left: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  align-self: self-end;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #212121;
  color: #f5f5f5;
  border: none;
  border-radius: 8px;
  padding: 18px 24px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.profile__add-btn:hover {
  background-color: #333; /* Slightly lighter on hover */
}

@media screen and (max-width: 885px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    max-height: 274px;
    align-items: center;
    text-align: center;
    margin: 20px auto 12px;
    padding: 0;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-clamp: 1;
    -webkit-line-clamp: 1;
  }

  .profile__description {
    padding: 6px 0 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    line-clamp: 1;
    -webkit-line-clamp: 1;
  }

  .profile__add-btn {
    margin: 0 0 20px;
    width: 100%;
  }

  .profile__edit-btn {
    margin: 0 0 20px;
    align-self: center;
  }
}
