.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  max-width: 1280px;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.profile__name {
  margin: 0 0 12px;
  color: #212121;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  color: #212121b2;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  display: flex;
  margin-top: auto;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  border: none;
  background-color: transparent;
  opacity: 70%;
  padding: 0;
  gap: 8px;
}

.profile__edit-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.profile__edit-btn::before {
  content: "";
  background-image: url("../images/pencil.svg");
  width: 15px;
  height: 15px;
  display: inline-block;
}

.profile__add-btn {
  margin-left: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  align-self: self-end;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #212121;
  color: #fcf5e5;
  border: none;
  border-radius: 8px;
  padding: 18px 24px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.profile__add-btn::before {
  content: "";
  background-image: url("../images/plus.svg");
  width: 14px;
  height: 14px;
  display: inline-block;
}

.profile__add-btn:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 885px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    margin: 20px auto 0;
    padding: 0;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    margin: 0 auto;
    padding: 0;
    font-size: 20px;
    max-width: 288px;
  }

  .profile__description {
    padding: 0;
    margin: 6px auto 32px;
    max-width: 288px;
  }

  .profile__add-btn {
    margin: 0 0 20px;
    width: 100%;
  }

  .profile__edit-btn {
    margin: 0 0 20px;
    align-self: center;
  }
}
